aioredis
asgiref
async-timeout
attrs
autobahn
Automat
# cffi
channels
channels-redis
constantly
cryptography
daphne
Django
django-admin-honeypot
django-cors-headers
django-extensions
djangorestframework
graphviz
hiredis
hyperlink
idna
incremental
msgpack
Pillow
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
pydotplus
pyOpenSSL
pyparsing
pytz
redis
service-identity
six
sqlparse
Twisted
txaio
typing_extensions
tzdata
unicode
Unidecode
zope.interface

python-dotenv
whitenoise
